@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: 43 100% 55%;
    --primary-text-color: 180 7% 8%;
    --button-border-color: 0 0% 6%;
    --button-text-color: 145 0% 81%;
  
    --b1: 0 0% 13%;
  
    /* Text variables */
    --highlight-text: 91 100% 33%; /* Highlight text color */
  
     /* Button variables */
    --p: 43 100% 55%; /* Primary color */
    --pc: 180 7% 8%; /* Primary text color */
    --b2: 0 0% 6%; /* Border color */
    --bc: 145 0% 81%; /* Button text color */
    --rounded-btn: 0.5rem; /* Button border radius */
    --border-btn: 1px; /* Button border width */
    --animation-btn: 0.25s; /* Button animation duration */
    --btn-text-case: uppercase; /* Button text transform */
  }
  
  html[data-theme="dark"] {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: 43 100% 55%;
    --primary-text-color: 180 7% 8%;
    --button-border-color: 0 0% 6%;
    --button-text-color: 145 0% 81%;
  }
  
  html[data-theme="ruby"] {
    --foreground-rgb: 255, 0, 0;
    --background-start-rgb: 255, 192, 203;
    --background-end-rgb: 255, 105, 180;
    --primary-color: 0 100% 50%;
    --primary-text-color: 0 0% 100%;
  }
  
  html[data-theme="sapphire"] {
    --foreground-rgb: 0, 0, 255;
    --background-start-rgb: 173, 216, 230;
    --background-end-rgb: 0, 191, 255;
    --primary-color: 240 100% 50%;
    --primary-text-color: 240 100% 100%;
  }
  
  html[data-theme="daylight"] {
    --foreground-rgb: 255, 255, 0;
    --background-start-rgb: 255, 255, 224;
    --background-end-rgb: 255, 255, 0;
    --primary-color: 60 100% 50%;
    --primary-text-color: 60 100% 100%;
  }
  
  html[data-theme="emerald"] {
    --foreground-rgb: 0, 128, 0;
    --background-start-rgb: 144, 238, 144;
    --background-end-rgb: 0, 255, 127;
    --primary-color: 120 100% 50%;
    --primary-text-color: 120 100% 100%;
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Bricolage Grotesque', sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-theme {
  @apply bg-gradient-to-b from-[rgb(var(--background-start-rgb))] to-[rgb(var(--background-end-rgb))];
}

.btn-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
    outline-color: hsl(var(--p) / 1);
}

.btn{
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border-color: transparent;
    border-color: hsl(var(--b2) / var(--tw-border-opacity)); */
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-duration: .2s;
    border-radius: var(--rounded-btn, .5rem);
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25rem;
    line-height: 1em;
    min-height: 3rem;
    gap: .5rem;
    text-decoration-line: none;
    border-width: var(--border-btn, 1px);
    animation: button-pop var(--animation-btn, .25s) ease-out;
    text-transform: var(--btn-text-case, uppercase);
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    /* background-color: hsl(var(--b2) / var(--tw-bg-opacity)); */
    --tw-text-opacity: 1;
    /* color: hsl(var(--bc) / var(--tw-text-opacity)); */
    /* outline-color: hsl(var(--bc) / 1); */
    text-transform: capitalize !important;
}
.btn:hover {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / calc(var(--tw-bg-opacity) - 0.1));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / calc(var(--tw-bg-opacity) - 0.1)); /* Slightly darker */
  outline-color: hsl(var(--bc) / 1);
}


.btn-wide{
  width: 18rem;
}


.text-accent{
  --tw-text-opacity:1;
  color:hsl(var(--highlight-text) / var(--tw-text-opacity));
}


.avatar-group{
  display: flex;
  overflow: hidden;
}
.avatar{
  position: relative;
  display: inline-flex;
}
.avatar-group :where(.avatar){
  overflow: hidden;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b1) / var(--tw-border-opacity));
}
.avatar img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.feature-liticle-gradient-border {
  position: relative;
}

.feature-liticle-gradient-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height as needed */
  background: linear-gradient(to right, transparent, yellow, transparent);
  border-radius: 0 0 4px 4px; /* Adjust the border radius as needed */
}

.feature-liticle-gradient-background {
  background: linear-gradient(to right, rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.1));
}